<!-- Author Pedro Samuel -->
<!-- BaseController#index -->
<div id="base-index">

  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading text-uppercase">Easy to use to simplifying life</div>
        <div class="intro-lead-in">Copy one url that you want to shrink and paste it, in the textbox bellow.</div>

        <div class="input-group mb-3">
          <!-- Textbox used to insert target url -->
          <!-- Operations in app/assets/javascripts/base.js.coffee -->
          <input type="text" class="form-control" placeholder="Paste the link" aria-label="Paste the link" aria-describedby="input-ajax">
          <div class="input-group-append">
            <button class="btn btn-warning" type="button">Short it!</button>
          </div>
        </div>

      </div>
    </div>
  </header>

</div>