// Place all the styles related to the Base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Element that belongs to base#index page 
#base-index
{
  header.masthead 
  { 
    background-image: url(image-path('workplace.jpg'));
    position: relative;

    &:before
    {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.45);
      width: 100%;
      height: 100%; 
      left: 0;
      top: 0;
      z-index: 1;
    }

    & > .container
    {
      position: relative;
      z-index: 2;

      .intro-heading
      {
        font-size: 60px;
        margin-bottom: 5px;
      }

      .intro-lead-in
      {
        font-size: 24px;
      }

      .input-group
      {

        & > input
        {
          height: 55px;
          font-size: 17px;
          font-weight: 300;
          padding: 15px 20px;

          &:focus, &:active
          {
            border-color: #ffc107;
            box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
          }

          &.error
          {
            border-color: #ff0707;
            box-shadow: 0 0 0 0.2rem rgba(255, 16, 7, 0.5);
          }

          &.success
          {
            border-color: #1ecf04;
            box-shadow: 0 0 0 0.2rem rgba(34, 185, 5, 0.5);
          }
        } 
      }

      .alert
      {
        position: fixed;
        bottom: 5%;
        left: 25%;
        width: 50%;
      }
    }
  }
}