<!DOCTYPE html>
<html lang="en">

  <head>
    
    <title>
      URL Shortener : Runtime Revolution Exercise
    </title>
    
    <!-- Meta Tags - Properties -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="URL SHORTENER">

    <!-- Meta Tags - Geral -->
    <meta name='author' content='Pedro Samuel'>
    <meta name='thumbnail' content='' />
    <meta name='application-name' content='url_shortener' />
    <meta name='description' content='URL SHORTENER Exercise for Runtime Revolution'>
    <meta name='keywords' content='url, shortener, exercise'>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
      
    <!-- Stylesheets -->
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- Javascripts -->
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
     <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>
    
    <!-- Header (BEGIN) -->
    <header>

      <!-- Navigation (BEGIN) -->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">

        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">URL Shortener</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
              <li class="nav-item">
                <%= link_to root_path(), class: "nav-link js-scroll-trigger" do %>
                  Home <span class="sr-only">(current)</span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>

      </nav>
      <!-- Navigation (END) -->

    </header>
    <!-- Header (END) -->

    <%= yield %>
    
    <!-- Footer (BEGIN) -->
    <footer>

      <div class="developed-by">
        <div class="container text-muted">
          2018 - Developed by <span class="text-warning">Pedro Samuel</span> for <a href="http://www.runtime-revolution.com/" class="text-info">Runtime Revolution</a>
        </div>
      </div>
      
    </footer>
    <!-- Footer (BEGIN) -->

  </body>

</html>